
nav{
    width: 1280px;
    margin: 0 auto;
}
.box-layout{
    width: 1280px;
    margin: 0 auto;
   
}
.container{
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
}
.logo{
    width: 78.08px;
    height: 28.49px;    
}
.header_nav{
    list-style: none;
    display: flex;
    gap: 16px;
    color: #9893A3;
    width: 418px;
    height: 32px;
}
header{
    padding-bottom: 100px;
}
    
.box_layout_1{
        width: 1280px;
        margin: 0 auto;
    }
.btn{
    width: 102px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: transparent;
    color: #6C63FF;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}
.btn_full{
    width: 140px;
    height: 51px;
    background: #6C63FF;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    color: #FFFFFF;
}
.col-6{
    width: 45%

}
.hero-image{
    width: 642px;
    height: 559px;
}
.header{
    width: 489px;
    height: 264px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.paragraph{
    width: 489px;
    height: 102px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.logo-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 97px;
    width: 900px;
    height: 35.42px;
    margin: 40px;
    margin-left: 200px;
}
.image-sec2{
    width: 600px;
    height: 442.78px;
    margin-top: 350px;
}
.header-2{
    
    width: 400px;
    height: 128px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;

    margin-top: 400px;
    letter-spacing: -1px;
}
.sec-3{
    margin-top: 350px;
}
.sec3-image{
    width: 600px;
    height: 497.19px;
    left: 1180px;
    top: 0px;
}
.pricing{
    font-size: 64px;
    text-align: center;
}
.absolute{
    position: relative;
    right: 1182px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3c35b9;
}
.pricing_card{
    width: 363px;
    height: 421px;
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 46px 88px;
    gap: 30px;
    list-style: none;
    color: #717082;
}
.col-9{
    width: 30%;
    width: 1280px;
    margin: 0 auto;
}
.box_pricing{
    padding: 46px 88px;
}
.pricing_card-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 88px;
    gap: 40px;
    width: 363px;
    height: 502px;
    background: #6C63FF;
    border-radius: 2px;
    list-style: none;
}
.list{
    width: 104px;
    height: 56px;
    font-weight: 700;
    font-size: 50px;
    color: #2F2E41;

}
.list-2{
    width: 149px;
    height: 56px;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 80px;
}
.list-3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    color: #2F2E41;
}
.btn_price{
    width: 140px;
    height: 51px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #6C63FF;
    border-radius: 2px;
    color: blue;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    
}
.btn-2{
    margin-left: 200px;
    margin-bottom: 200px;
}
